// app wide properties
$header_panel_height: 60px

// main app flow and sizing
#app
	+flexbox
	+flex-direction(row)
	max-height: 100vh
	overflow: hidden

	#side-panel
		width: 200px
		height: 100vh
		background-color: $side_panel_color

	#main-panel
		+flex(1)

		#header-panel
			//height: $header_panel_height

		#app-content
			background: $background_color
			overflow-y: hidden
			height: calc(100vh - 60px)
			//hook for position absolute modals >>
			position: relative



// --- @media query factory
//
$desktopWidth: 1280px
$mobileWidth: 800px

=screen($media)
	@if $media == mobile
		@media only screen and (max-width: $mobileWidth)
			@content
	@else if $media == tablet
		@media only screen and (min-width: $mobileWidth + 1) and (max-width: $desktopWidth - 1)
			@content
	@else if $media == desktop
		@media only screen and (min-width: $desktopWidth)
			@content
