// type

@import url(https://fonts.googleapis.com/css?family=Karla:400,700)
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700)
@import url(https://fonts.googleapis.com/icon?family=Material+Icons)

.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 30px
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale
  /* Support for IE. */
  font-feature-settings: 'liga'

=systemType($size)
  font-family: 'Quicksand', sans-serif
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: bold
  color: $text_color
  @if $size == biggest
    font-size: 23px
    line-height: 30px
  @if $size == big
    font-size: 19px
    line-height: 25px
  @if $size == average
    font-size: 16px
    line-height: 20px
  @if $size == small
    color: $text_color_light
    font-size: 11px
    line-height: 13px


=userType($size)
  font-family: 'Karla', sans-serif
  color: $text_color
  letter-spacing: 0px
  @if $size == biggest
    font-size: 28px
    line-height: 33px
  @if $size == big
    font-size: 23px
    line-height: 28px
  @if $size == average
    font-size: 18px
    line-height: 22px
  @if $size == small
    font-size: 15px
    line-height: 18px


h1
  +systemType(biggest)
  font-weight: bold
h2
  +systemType(average)
  font-weight: bold
